* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}
.kanyeQMContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("./assets/kanye_rain.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.kanyeQMText {
  font-size: 1.5vw;
  text-align: center;
  justify-self: end;
  background-color: rgba(0, 0, 139, 0.8);
  color: cyan;
  padding: 10px;
  width: 60vw;
  margin: 60vh auto auto auto;
  border-radius: 1vw;
  border: 2px solid cyan;
  .kanyeQMHeading {
    text-shadow: 10px 8px 0px rgba(255, 0, 255, 0.7);
  }
  .kanyeQMSubheading {
    padding: 2%;
  }
  .kanyeQMButton {
    font-size: 1.2vw;
    color: blue;
    background-color: cyan;
    padding: 0.5% 1%;
    border-radius: 1vw;
    outline: none;
  }
  .kanyeQMQoute {
    padding: 1vw;
    text-shadow: 2px 2px 0px rgba(255, 0, 255, 0.7);
    .theShiz {
      display: inline-flex;
      font-style: italic;
    }
  }
}
